@model Jukeboxmpa.Models.Song

@* Delete view - shows details of the selected song and asks for confirmation.
   The form posts back to the Delete POST action which will remove the record. *@

<h2>Liedje Verwijderen</h2>

<div>
    <h4>Controleer de details en bevestig verwijderen</h4>
    <dl class="row">
        <dt class="col-sm-2">Titel</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>

        <dt class="col-sm-2">Artiest</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Artist)</dd>

        <dt class="col-sm-2">Album</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Album)</dd>

        @* Show Genre on delete confirmation *@
        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Genre)</dd>

        @* New: show Credits on delete confirmation *@
        <dt class="col-sm-2">Credits</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credits)</dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.ID" method="post">
        @Html.AntiForgeryToken()
        @* Posting this form triggers the DeleteConfirmed action in the controller. *@
        <button type="submit" class="btn btn-danger">Verwijderen</button>
        <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
    </form>
</div>