@using Jukeboxmpa.Models
@model IEnumerable<Jukeboxmpa.Models.Song>

@* Index view - shows an overview (table) of all songs.
   Each row has actions to edit or delete the song.
   The "Nieuw Liedje Toevoegen" button navigates to /Song/Create. *@

<h2>Muziekbeheer</h2>

<p>
    <a asp-controller="Song" asp-action="Create" class="btn btn-primary" role="button">Nieuw Liedje Toevoegen</a>
</p>

<table class="table">
    <thead>
        <tr>
            @* categories / columns for the song list *@
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Artist)</th>
            <th>@Html.DisplayNameFor(model => model.Album)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* show values for each song; actions on the right *@
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                <td>@Html.DisplayFor(modelItem => item.Album)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Bewerken</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>